<div class="list-group">
  <%= link_to 'Игра', edit_game_path(game), :class => "list-group-item" %>
  <%= link_to 'Знаменитости', game_persons_path(game), :class => "list-group-item" %>
  <%= link_to 'Твитты',  game_twitts_path(game), :class => "list-group-item" %>
</div>
