<div class="row">
	<div class="col-md-4">
		<h3>Синонимы</h3>		
	</div>
	<div class="col-md-4 col-md-offset-4">
		<%= link_to person.nil? ? "#" : new_person_synonym_path(person), :class => "btn btn-success #{person.nil? ? 'disabled' : ''}" do %>
			<span class="glyphicon glyphicon-plus"></span> Создать новый
		<% end %>
	</div>
</div>
<% if person %>
	<% if person.synonyms.present? %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Синонимы</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% person.synonyms.each do |synonym| %>
					<tr>
						<td>
							<%= "#{synonym.name}" %>
						</td>
						<td>
							<%= link_to 'Редактировать', edit_synonym_path(synonym) %>
						</td>
						<td>
							<%= link_to 'Удалить', synonym_path(synonym), method: :delete %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p>
			Ни одного синонима еще нет
		</p>
	<% end %>
<% else %>
	Что бы добавить синоним - сначала создайте знаменитость
<% end %>